---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---
    <div class="main-container">
        <div class="poster-container">
            <a href="#">
                <img class="poster" src={`/animes/${title}.jpg`} alt={title} />
            </a>
        </div>
    </div>
    

<style>
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.main-container {
	width: 270px;
	height: 540px;
	position: relative;
    margin-bottom: -100px;
}

.poster-container {
	width: 230px;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 9999;
    transition-property: transform;
    transition: .2s ease-in-out;
}

.poster-container:hover .poster {
  transform: scale(1.1) rotate(-2deg) translateY(-20px);
  transition: .2s ease-in-out;
}

.poster-container .poster {
  transition: .2s ease-in-out;
}

.poster-container:not(:hover) .poster {
  transform: none;
}

.poster {
	width: 100%;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    border-radius: 30px 30px 0 0;
}

</style>